{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
    </head>
    <body>
        <header>
            <h1 style ="text-align:center;" >ToDo List!</h1>
            <form style="text-align:center"method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value='Save'/>
            </form>
        </header>
        <main>
        <!--https://craftcms.stackexchange.com/questions/9071/whats-the-best-way-to-increment-a-number-of-a-class-or-id-->
            {%block content%} {%endblock content%}
            
                {% for task in tasks %}
                    {% if forloop.counter <= 4  %}
                        <br/>
                        <div class = "container">
                            <img class = "center" src="{%static 'images/card.png'%}">
                            <span class = "centered">
                                <h1 style="font-size: 4vw" >{{task}}</h1>
                                <span class="myClass">
                                    <p style="font-size: 2vw">{{task.notes}}</p>
                                </span>
                            </span>
                            <span class = "top-right">
                                <p2 style="font-size: 1.4vw">{{task.created|date:"M d, Y" }}</p2>
                            </span>
                        </div>
                    {% else %}
                        <div class = "container">
                            <img src="{%static 'images/button.png'%}" width="20%" height="20%"                     onclick="DoSomething();" />
                                <div class = "centered">
                                    <p1 style="font-size: 1.7vw">Reached limit</p1>
                                </div>
                        </div>
                    {% endif %}
                {%endfor %}
                
        </main>
        <footer>
            <br/>
            <br/>
            <p1>Contacts</p1>
        </footer>
        <script src="" async defer></script>
    </body>
</html>